<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:if="${metaTag?.title}" th:text="${metaTag?.title}"></title>
    <meta name="description" th:if="${metaTag?.description}" th:content="${metaTag?.description}">
    <link rel="canonical" th:if="${metaTag?.canonical}" th:href="${metaTag?.canonical}">
    <meta property="fb:app_id" content="1540103976279074">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:url" th:if="${metaTag?.url}" th:content="${metaTag?.url}">
    <meta property="og:type" th:if="${metaTag?.type}" th:content="${metaTag?.type}">
    <meta property="og:title" th:if="${metaTag?.title}" th:content="${metaTag?.title}">
    <meta property="og:description" th:if="${metaTag?.description}" th:content="${metaTag?.description}">
    <meta property="og:image" th:if="${metaTag?.image}" th:content="${metaTag?.image}">
    <link rel="stylesheet" media="all" th:href="@{/css/app.min.css}">
    <script type="application/ld+json" th:unless="${schemaLdJson == null}" th:utext="${schemaLdJson}"></script>
    <script th:if="${enabledAds}" data-ad-client="ca-pub-8660218247964227" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1BF75F7361"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-1BF75F7361');
    </script>
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=1540103976279074&autoLogAppEvents=1" nonce="jBscnR6T"></script>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1266353633523718');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" src="https://www.facebook.com/tr?id=1266353633523718&ev=PageView&noscript=1">
</noscript>
<!-- End Facebook Pixel Code -->
<!-- Header -->
<header id="masthead" class="site-header" th:fragment="header">
    <nav class="navbar is-primary has-shadow" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/}">
                <img src="/images/logo-anhnbt.png" th:src="@{/images/logo-anhnbt.png}" alt="AnhNBT brand" width="120px" height="26px">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/ky-tu-dac-biet}">Kí tự đặc biệt</a>
                <a class="navbar-item" th:href="@{/chu-kieu}">Chữ kiểu</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Công cụ
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" th:href="@{/ten-game-hay}">Tên game hay</a>
                        <a class="navbar-item" th:href="@{/chu-in-dam}">Chữ in đậm</a>
                        <a class="navbar-item" th:href="@{/ki-tu-dac-biet-chu-nho}">Tạo chữ nhỏ</a>
                        <a class="navbar-item" th:href="@{/tao-chu-i-am}">Tạo chữ IͥAͣMͫ</a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="#" th:action="@{/search}" method="GET">
                        <div class="field is-grouped">
                            <div class="control is-expanded">
                                <label>
                                    <input class="input" name="s" id="mySearch" type="text" placeholder="Tìm kiếm tên game">
                                </label>
                            </div>
                            <div class="control">
                                <button type="submit" class="button">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                    <div class="buttons ml-2" sec:authorize="!isAuthenticated()">
                        <a class="button" th:href="@{/login}">
                            Đăng nhập
                        </a>
                        <a class="button is-warning" th:href="@{/signup}">
                            <strong>Đăng ký</strong>
                        </a>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable" sec:authorize="isAuthenticated()">
                        <a class="navbar-link" href="#" th:text="${user?.username}">Tài khoản</a>
                        <div class="navbar-dropdown is-boxed">
                            <a th:href="@{/admin/dashboard}" sec:authorize="hasRole('ROLE_ADMIN')" class="navbar-item">
                                Quản trị
                            </a>
                            <a th:href="@{/logout}" class="navbar-item">
                                Thoát
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Footer -->
<section th:fragment="release-posts(page)">
    <h3 class="is-size-3">Công cụ nổi bật khác</h3>
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <a href="/ky-tu-dac-biet" th:href="@{/ky-tu-dac-biet}">
                        <figure class="image is-5by3">
                            <img src="/images/ki-tu-dac-biet-anhnbt.jpg"
                                 th:src="@{/images/ki-tu-dac-biet-anhnbt.jpg}"
                                 alt="Kí tự đặc biệt">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <h5 class="title is-5"><a href="/ky-tu-dac-biet" th:href="@{/ky-tu-dac-biet}">Kí tự đặc
                        biệt</a></h5>
                </div>
            </div>
        </div>
        <div class="column" th:unless="${#strings.equals(page, 'chu-in-dam')}">
            <div class="card">
                <div class="card-image">
                    <a href="/chu-in-dam" th:href="@{/chu-in-dam}">
                        <figure class="image is-5by3">
                            <img src="/images/chu-in-dam.jpg"
                                 th:src="@{/images/ki-tu-dac-biet-anhnbt.jpg}"
                                 alt="Chữ in đậm">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <h5 class="title is-5"><a href="/chu-in-dam" th:href="@{/chu-in-dam}">Chữ in đậm</a></h5>
                </div>
            </div>
        </div>
        <div class="column" th:unless="${#strings.equals(page, 'ki-tu-khoang-trong-ff')}">
            <div class="card">
                <div class="card-image">
                    <a href="/ki-tu-khoang-trong-ff" th:href="@{/ki-tu-khoang-trong-ff}">
                        <figure class="image is-5by3">
                            <img src="/images/ki-tu-khoang-trong-ff.jpg"
                                 th:src="@{/images/ki-tu-khoang-trong-ff.jpg}"
                                 alt="kí tự khoảng trống">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <h5 class="title is-5"><a href="/ki-tu-khoang-trong-ff" th:href="@{/ki-tu-khoang-trong-ff}">Kí tự khoảng trống</a></h5>
                </div>
            </div>
        </div>
        <div class="column" th:unless="${#strings.equals(page, 'ki-tu-dac-biet-chu-nho')}">
            <div class="card">
                <div class="card-image">
                    <a href="/ki-tu-dac-biet-chu-nho" th:href="@{/ki-tu-dac-biet-chu-nho}">
                        <figure class="image is-5by3">
                            <img src="/images/ki-tu-chu-nho.jpg"
                                 th:src="@{/images/ki-tu-chu-nho.jpg}"
                                 alt="Kí tự đặc biệt chữ nhỏ">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <h5 class="title is-5"><a href="/ki-tu-dac-biet-chu-nho" th:href="@{/ki-tu-dac-biet-chu-nho}">Kí tự đặc biệt chữ nhỏ</a></h5>
                </div>
            </div>
        </div>
        <div class="column" th:unless="${#strings.equals(page, 'ki-tu-tang-hinh')}">
            <div class="card">
                <div class="card-image">
                    <a href="/ki-tu-tang-hinh" th:href="@{/ki-tu-tang-hinh}">
                        <figure class="image is-5by3">
                            <img src="/images/ki-tu-tang-hinh-ff.jpg"
                                 th:src="@{/images/ki-tu-tang-hinh-ff.jpg}"
                                 alt="Kí tự tàng hình">
                        </figure>
                    </a>
                </div>
                <div class="card-content">
                    <h5 class="title is-5"><a href="/ki-tu-tang-hinh" th:href="@{/ki-tu-tang-hinh}">Kí tự tàng hình</a></h5>
                </div>
            </div>
        </div>
    </div><!-- /.columns -->
</section>
<!-- Footer -->
<footer class="footer has-background-primary has-text-primary-light mt-3" th:fragment="footer">
    <div class="content has-text-centered">
        <p>© Copyright 2016-<span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2016</span> by <a
                th:href="@{/}" class="has-text-info-light">AnhNBT</a>™ <span class="tag is-dark is-rounded"
                th:text="${@environment.getProperty('app.version')}"></span></p>
        <nav id="secondarynav" aria-label="Secondary menu">
            <a th:href="@{/p/lien-he.html}" class="has-text-info-light">Liên hệ</a> ·
            <a th:href="@{/p/gioi-thieu.html}" class="has-text-info-light">Giới thiệu</a> ·
            <a th:href="@{/p/dieu-khoan-su-dung.html}" class="has-text-info-light">Điều khoản sử dụng</a> ·
            <a th:href="@{/p/chinh-sach-bao-mat.html}" class="has-text-info-light">Chính sách bảo mật</a>
        </nav>
    </div>
</footer>
<script th:inline="javascript">
</script>
<th:block th:fragment="scripts">
    <script th:inline="javascript">
        const contextPath = /*[[@{/}]]*/ '/';
    </script>
    <script th:src="@{/js/app.min.js?version=3.1}"></script>
</th:block>
</body>
</html>