<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
</head>
<body>
<th:block th:replace="fragments/layout :: facebook"></th:block>
<div th:replace="fragments/layout :: header"></div>
<article class="content">
  <header>
    <h1 class="title">Chính sách bảo mật</h1>
    <p class="is-italic">2 năm trước · 10.513 lượt xem</p>
  </header>
  <div class="entry-content">
    <h2><strong>Giới thiệu</strong></h2>

    <ol>
      <li>
        <p>Quyền riêng tư của bạn rất quan trọng đối với website này và tớ&nbsp;cam kết bảo vệ nó. Chính sách này giải thích những gì mà website sẽ làm với thông tin cá nhân của bạn.</p>
      </li>
      <li>
        <p>Việc đồng ý cho website sử dụng cookie theo các điều khoản của chính sách này khi bạn truy cập website&nbsp;lần đầu sẽ cho phép tớ sử dụng cookie mỗi khi bạn truy cập website.</p>
      </li>
    </ol>

    <h2><strong>Thu thập thông tin cá nhân</strong></h2>

    <p>Các loại thông tin cá nhân sau đây có thể được thu thập, lưu trữ và sử dụng:</p>

    <ol>
      <li>
        <p>Thông tin về điện thoại, máy tính bảng, máy tính để bàn của bạn bao gồm địa chỉ IP, vị trí địa lý, loại và phiên bản trình duyệt, hệ điều hành;</p>
      </li>
      <li>
        <p>Thông tin về các lượt truy cập và sử dụng website này của bạn bao gồm nguồn giới thiệu, thời lượng truy cập, lượt xem trang và đường dẫn điều hướng website;</p>
      </li>
      <li>
        <p>Thông tin mà bạn nhập trong khi sử dụng các dịch vụ trên website này;</p>
      </li>
      <li>
        <p>Thông tin mà bạn đăng lên website này dưới định dạng <strong>Bình luận Facebook</strong>&nbsp;với mục đích công khai nó trên internet, bao gồm tên, hình ảnh avatar và nội dung những bình luận của bạn;</p>
      </li>
    </ol>

    <p>Trước khi bạn tiết lộ&nbsp;thông tin cá nhân của người khác, bạn phải có được sự đồng ý của người đó đối với cả việc tiết lộ lẫn xử lý thông tin cá nhân đó theo chính sách này.</p>

    <h2><strong>Sửa đổi</strong></h2>

    <p>Tớ&nbsp;có thể cập nhật chính sách này bất cứ lúc nào bằng việc công bố một phiên bản mới trên website của mình. Thỉnh thoảng bạn nên kiểm tra trang này để đảm bảo bạn hiểu hết mọi thay đổi đối với chính sách này.</p>

    <h2><strong>Website của bên thứ ba</strong></h2>

    <p>Website này bao gồm các siêu liên kết đến và thông tin chi tiết về các website của bên thứ ba. Tớ không kiểm soát và không chịu trách nhiệm đối với các chính sách và thực hành về quyền riêng tư của các bên thứ ba.</p>

    <h2><strong>Cookie</strong></h2>

    <p>Website này có sử dụng cookie. Một cookie là một tệp có chứa mã định danh (một chuỗi các ký tự và số) được một máy chủ web gửi tới một trình duyệt web và được trình duyệt này lưu trữ. Mã định danh sau đó được gửi trở lại máy chủ mỗi khi trình duyệt yêu cầu một trang từ máy chủ. Cookie có thể là cookie “dài hạn” hoặc cookie “theo phiên”: một cookie dài hạn sẽ được một trình duyệt web lưu trữ và sẽ còn hiệu lực cho đến ngày nó hết hạn, trừ phi bị người dùng xóa trước ngày hết hạn; mặt khác, một cookie theo phiên sẽ hết hạn vào cuối phiên của người dùng, khi trình duyệt web bị đóng. Các cookie thường không chứa bất kỳ thông tin nào nhận dạng đích danh một người dùng, nhưng thông tin cá nhân mà tớ&nbsp;lưu trữ về bạn có thể được liên kết đến thông tin được lưu trữ và lấy từ các cookie. Tớ sử dụng cả cookie theo phiên lẫn cookie dài hạn trên website này.</p>

    <p>Các cookie mà tớ sử dụng trên website của mình và các mục đích mà chúng được sử dụng được nêu ra dưới đây:</p>

    <ol>
      <li>
        <p>Tớ&nbsp;sử dụng dịch vụ cung cấp của bên thứ ba như&nbsp;Google Analytics,&nbsp;Google AdSense và&nbsp;Facebook Pixel&nbsp;trên website của mình để nhận ra thiết bị khi một người dùng truy cập website / theo dõi người dùng khi họ điều hướng website / cải thiện tính khả dụng của website / phân tích việc sử dụng website / quản trị website / cá nhân hóa website cho từng người dùng / nhắm mục tiêu các quảng cáo có thể là sở thích đặc biệt đối với những người dùng cụ thể</p>
      </li>
    </ol>

    <p>Hầu hết trình duyệt cho phép bạn từ chối chấp nhận cookie—ví dụ:</p>

    <ol>
      <li>
        <p>Trong Internet Explorer (phiên bản 10), bạn có thể chặn các cookie bằng cách sử dụng cài đặt ghi đè xử lý cookie có sẵn khi nhấp vào “Tools” (“Công cụ”), “Internet Options” (“Tùy chọn Internet”), “Privacy” (“Quyền riêng tư”) và “Advanced” (“Nâng cao”);</p>
      </li>
      <li>
        <p>Trong Firefox (phiên bản 24), bạn có thể chặn tất cả cookie bằng cách nhấp vào “Tools”, “Options”, “Privacy”, chọn “Use custom settings for history” (“Sử dụng cài đặt tùy chỉnh cho lịch sử”) từ trình đơn thả xuống và bỏ chọn “Accept cookies from sites” (“Chấp nhận cookie từ các website”); và</p>
      </li>
      <li>
        <p>Trong Chrome (phiên bản 29), bạn có thể chặn tất cả các cookie bằng cách truy cập trình đơn “Customize and control” (“Tùy chỉnh và kiểm soát”) rồi nhấp vào “Settings” (“Cài đặt”), “Show advanced settings” (“Hiển thị cài đặt nâng cao”) và “Content settings” (“Cài đặt nội dung”), sau đó chọn “Block sites from setting any data” (“Chặn các website cài đặt bất kỳ dữ liệu nào”) bên dưới tiêu đề “Cookies”.</p>
      </li>
    </ol>

    <p>Việc chặn tất cả các cookie sẽ có tác động tiêu cực đến tính khả dụng của nhiều website. Nếu bạn chặn cookie, bạn sẽ không thể sử dụng mọi tính năng trên website.</p>

    <p>Bạn có thể xóa các cookie đã được lưu trữ trên máy tính của mình—ví dụ:</p>

    <ol>
      <li>
        <p>Trong Internet Explorer (phiên bản 10), bạn phải xóa thủ công các tệp cookie (bạn có thể tìm thấy hướng dẫn để làm điều đó tại&nbsp;<a href="https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer">https://support.microsoft.com/en-us/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>);</p>
      </li>
      <li>
        <p>Trong Firefox (phiên bản 24), bạn có thể xóa các cookie bằng cách nhấp vào “Tools”, “Options” và “Privacy”, sau đó chọn “Use custom settings for history”, nhấp vào “Show Cookies” (“Hiển thị cookie”), sau đó nhấp vào “Remove All Cookies” (“Xóa tất cả cookie”); và</p>
      </li>
      <li>
        <p>Trong Chrome (phiên bản 29), bạn có thể xóa tất cả cookie bằng cách truy cập trình đơn “Customize and control” và nhấp vào “Settings”, “Show advanced settings” và “Clear browsing data” (“Xóa dữ liệu duyệt web”), sau đó chọn “Delete cookies and other site and plug-in data” (“Xóa các cookie và dữ liệu trình cắm và website khác”) trước khi nhấp vào “Clear browsing data”.</p>
      </li>
      <li>
        <p>Việc xóa cookie sẽ có tác động tiêu cực đến tính khả dụng của nhiều website.</p>
      </li>
      <li>
        <p>Bạn có thể chọn không xem quảng cáo được cá nhân hóa bằng cách truy cập vào&nbsp;<a href="https://www.google.com/settings/ads">Cài đặt quảng cáo</a>. (Ngoài ra, bạn có thể chọn không tham gia vào việc sử dụng cookie cho quảng cáo được cá nhân hóa của nhà cung cấp bên thứ ba bằng cách truy cập vào&nbsp;<a href="https://www.aboutads.info">https://www.aboutads.info</a>.)&nbsp;</p>
      </li>
    </ol>
  </div><!-- .entry-content -->
</article>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>