<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
</head>
<body>
<th:block th:replace="~{fragments/layout :: facebook}"></th:block>
<div th:replace="~{fragments/layout :: header}"></div>
<main class="container is-fluid pt-5">
    <div class="columns">
        <div class="column">
            <article class="content">
                <header>
                    <h1 class="title">Điều khoản sử dụng</h1>
                    <p class="is-italic">2 năm trước · 12.888 lượt xem</p>
                </header>
                <div class="entry-content">
                    <p>Chào mừng bạn đến với <strong>https://anhnbt.com/</strong><br>
                        Nếu bạn sử dụng trang web này có nghĩa là bạn cần phải tuân theo những điều kiện sử dụng mà
                        chúng tôi quy định tại đây. Điều này nhằm đảm bảo lợi ích cho 2 bên. Do đó, nếu bạn không hài
                        lòng với bất kỳ điều khoản nào dưới đây thì xin bạn hãy ngừng sử dụng trang web của chúng
                        tôi.<br>
                        &nbsp;</p>

                    <blockquote>1. Nội dung của trang web này có thể được sửa đổi mà không cần báo trước. Các thông tin
                        trên trang này chỉ mang tính chất tổng quát, bạn có thể tham khảo nội dung không giới hạn.
                    </blockquote>

                    <blockquote>2. Nội dung trên trang web này được xây dựng dựa trên ban quản trị. Nhưng không đảm bảo
                        tính chính xác, kịp thời, đầy đủ. Bạn phải thừa nhận chúng tôi được miễn mọi trách nhiệm đối với
                        bất kỳ thông tin không chính xác nào đến mức tối đa theo sự cho phép của pháp luật.
                    </blockquote>

                    <blockquote>3. Việc bạn sử dụng thông tin trên trang web này là trách nhiệm hoàn toàn thuộc về bạn.
                        Chúng tôi không chịu bất cứ thiệt hại nào xảy ra đối với bạn.
                    </blockquote>

                    <blockquote>4. Nội dung được chúng tôi xây dựng do đó được sở hữu bởi chúng tôi. Sự sở hữu bao gồm,
                        nhưng không giới hạn nội dung, giao diện đồ họa, thiết kế, bố trí và bố cục website.<br>
                        Bạn không có quyền sử dụng lại những nội dung từ trang web của chúng tôi để thực hiện các hoạt
                        động thương mại. Đồng thời chúng tôi cũng không chịu bất cứ trách nhiệm trực tiếp cũng như gián
                        tiếp nếu bạn sử dụng nội dung trên trang web này và gây thiệt hại cho bên thứ ba.
                    </blockquote>

                    <blockquote>5. https://anhnbt.com/ có thể liên kết với nhiều website khác. Chúng tôi không chịu bất
                        cứ trách nhiệm gì về nội dung của những trang web được liên kết từ trang web của chúng tôi.
                    </blockquote>

                    <p>Những điều khoản sử dụng có thể thay đổi mà không cần báo trước, chúng tôi cũng không chịu trách
                        nhiệm cho bất cứ sự thay đổi nào. Do đó, bạn hãy tham khảo kỹ nội dung chính sách và điều khoản
                        sử dụng đối với trang web này. Rất mong bạn tìm kiếm được những thông tin hữu ích cho mình.<br>
                        <br>
                        Mình xin chân thành cảm ơn!</p>
                </div><!-- .entry-content -->
            </article>
        </div>
    </div>
</main>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>