<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello</title>
</head>
<body>
<th:block th:replace="~{fragments/layout :: facebook}"></th:block>
<div th:replace="~{fragments/layout :: header}"></div>
<article class="content">
  <header>
    <h1 class="title">Giới thiệu về AnhNBT</h1>
    <p class="is-italic">2 năm trước · 9.370 lượt xem</p>
  </header>
  <div class="entry-content">
    <p>Chào bạn!</p>

    <p>Cảm ơn bạn đã ghé thăm Blog nhỏ của mình. Mình là Nguyễn Bá Tuấn Anh;&nbsp;một nhà phát triển web sống ở Hà Nội.</p>

    <p>Đây là nơi mình chia sẻ lại những kinh nghiệm, kiến thức mà mình đã được học và đang làm việc. Bởi vì việc chia sẻ sẽ giúp mình nhớ được lâu hơn những gì đã tiếp nhận.</p>

    <p>Có thể những thông tin mà mình cung cấp ở đây không tránh được những lỗi sai, rất mong các bạn góp ý.</p>

    <p>-----------------------</p>

    <h2>Truyền thông&nbsp;báo chí nói về AnhNBT</h2>

    <ul>
      <li><a href="https://gamek.vn/anhnbt-nguoi-sang-tao-cong-cu-ki-tu-dac-biet-tai-viet-nam-20210820123145523.chn">https://gamek.vn/anhnbt-nguoi-sang-tao-cong-cu-ki-tu-dac-biet-tai-viet-nam-20210820123145523.chn</a></li>
      <li><a href="https://genk.vn/ki-tu-dac-biet-ff-bi-kip-dat-ten-game-free-fire-20210820164447976.chn">https://genk.vn/ki-tu-dac-biet-ff-bi-kip-dat-ten-game-free-fire-20210820164447976.chn</a></li>
      <li><a href="https://cafebiz.vn/tao-chat-rieng-trong-game-voi-1001-ki-tu-dac-biet-anhnbt-20210819183217058.chn">https://cafebiz.vn/tao-chat-rieng-trong-game-voi-1001-ki-tu-dac-biet-anhnbt-20210819183217058.chn</a></li>
    </ul>

    <p>Bạn cũng có thể tham khảo phần <a href="https://anhnbt.com/p/dieu-khoan-su-dung.html" target="_blank">Điều khoản sử dụng</a> để hiểu rõ hơn về chính sách người dùng nhé. Rất vui nếu bạn kết nối với Facebook của mình ở đây <a href="https://www.facebook.com/anhnbtdotcom" target="_blank">Nguyễn Bá Tuấn Anh</a>.</p>
  </div><!-- .entry-content -->
</article>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>