<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
<div th:replace="fragments/layout :: header"></div>
<main class="container is-fluid pt-5">
    <div class="columns">
        <div class="column">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#" th:href="@{/}">Trang chủ</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Kí tự khoảng trống FF</a></li>
                </ul>
            </nav>
            <article class="content">
                <header>
                    <h1>Kí tự khoảng trống FF</h1>
                    <p class="is-italic"><small class="has-text-grey">
                        <time datetime="2022-02-27">27/02/2022</time>
                    </small></p>
                </header>
                <div class="entry-content">
                    <p><strong>Kí tự khoảng trống</strong> sẽ có khoảng cách xa hơn, còn <strong>dấu cách đặc
                        biệt</strong> có cùng khoảng cách với dấu cách trên bàn phím thường dùng. Kí tự khoảng trống FF
                        hiện tại rất nhiều game thủ sử dụng cho game Free Fire (FF), Liên Quân Mobile.</p>
                    <form action="" class="box">
                        <label for="dau-cach-dac-biet" class="label">Dấu cách đặc biệt</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" value=" " aria-label="dau-cach-dac-biet" class="input"
                                       id="dau-cach-dac-biet">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">
                                    Sao chép
                                </button>
                            </div>
                        </div>
                        <p class="text-normal">Chạm vào ô bên trên để sao chép <em>ký tự khoảng trống nhỏ</em> (hiện tại
                            không còn hỗ trợ cho game Liên Quân LQ Mobile).</p>
                        <label for="ki-tu-khoang-trong" class="label">Kí tự khoảng trống (FF)</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" value="ㅤ" aria-label="ki-tu-khoang-trong" class="input"
                                       id="ki-tu-khoang-trong">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">
                                    Sao chép
                                </button>
                            </div>
                        </div>
                        <p class="has-text-info">Hỗ trợ cho game <strong class="tag">LQM</strong> và <strong
                                class="tag">FireFire</strong>.</p>
                    </form>
                    <h2>Kí tự đặc biệt khoảng trống trắng FF là gì?</h2>
                    <p>Kí tự khoảng trống được xem là một dạng kí tự đặc biệt. Nó không phải dấu cách bình thường mà chúng ta
                        vẫn thường làm. Hiểu đơn giản là khi sử dụng dấu cách đặc biệt này mà bạn sẽ biến tấu tên game
                        của mình nhìn thì có vẻ giống hai từ như mình dùng dấu cách bình thường, nhưng thực chất nó lại
                        chỉ là 1 từ thôi. </p>
                    <h2>Kí tự khoảng trống sử dụng ở đâu?</h2>
                    <p>Kí tự khoảng trống FF đang là một trong những kí tự hot hit nhất hiện nay. Không chỉ giúp game
                        thủ có thể tạo ra nhiều cái <strong>tên game hay</strong>, mà nó có khiến tên game của bạn dễ
                        nhìn dễ độc hơn. Free Fire, Liên Quân, hay bất cứ dòng game mobile nào bạn cũng có thể sử dụng
                        kí tự đặc biệt này nhé. </p>
                    <h2>Cách sử dụng kí tự khoảng trống?</h2>
                    <p>Cách 1. Bạn chỉ cần ấn sao chép hệ thống sẽ tự sao chép dấu cách đặc biệt này vào trong bộ nhớ
                        tạo. Việc của bạn chỉ cần vào game vào dán vào ô đổi tên.</p>
                    <figure class="has-text-centered">
                        <img width="480" height="270" src="/images/ki-tu-khoang-trong-ff.jpg" th:src="@{/images/ki-tu-khoang-trong-ff.jpg}"
                             alt="Kí tự khoảng trống FF" loading="lazy">
                        <figcaption>
                            Kí tự khoảng trống FF
                        </figcaption>
                    </figure>
                    <p>Cách 2. Bạn có thể trực tiếp tạo tên game bằng <a
                            href="#" th:href="@{/ky-tu-dac-biet}">kí tự đặc biệt</a>. Mình đã tích hợp sẵn
                        công cụ tạo tên kí tự kèm dấu cách đặc biệt. Việc của bạn chỉ cần điền tên game, chọn dấu cách
                        đặc biệt và ấn TẠO TÊN. Hệ thống sẽ show ra hơn 80+ tên game chữ kiểu có dùng kí tự dấu cách
                        khoảng trống cho bạn nhé.</p>
                    <figure class="has-text-centered">
                        <img width="480" height="270" src="/images/dau-cach-dac-biet-anhnbt.jpg"
                             th:src="@{/images/dau-cach-dac-biet-anhnbt.jpg}"
                             alt="Dấu cách đặc biệt AnhNBT" loading="lazy">
                        <figcaption>
                            Dấu cách đặc biệt AnhNBT
                        </figcaption>
                    </figure>
                    <p>Bài viết trên mình đã hướng dẫn bạn tạo tên game đẹp bằng kí tự khoảng trống hoặc dấu cách đặc
                        biệt. Hy vọng sẽ giúp ích cho bạn. Nếu bạn có gì thắc mắc hãy nhắn tin cho mình nhé. Cảm ơn các
                        bạn trong thời gian qua đã ủng hộ mình. Những đóng góp của các bạn là động lực cho mình phát
                        triển website!</p>
                </div>
            </article>
            <div th:replace="fragments/layout :: release-posts(page='ki-tu-khoang-trong-ff')"></div>
        </div>
    </div>
</main>
<div th:replace="fragments/layout :: footer"></div>
<div th:replace="fragments/components :: modal"></div>
<th:block th:replace="fragments/layout :: scripts"></th:block>
</body>
</html>