<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
<body>
<th:block th:replace="~{fragments/layout :: facebook}"></th:block>
<div th:replace="~{fragments/layout :: header}"></div>
<main class="container is-fluid pt-5">
    <div class="columns">
        <div class="column">
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#" th:href="@{/}">Trang chủ</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Kí tự Vương Miện 亗</a></li>
                </ul>
            </nav>
            <article class="content">
                <header>
                    <h1>Kí tự Vương Miện 亗</h1>
                    <p class="is-italic"><small class="has-text-grey">
                        <time datetime="2022-02-23">23/02/2022</time>
                    </small></p>
                </header>
                <div class="entry-content">
                    <p><strong>Kí tự Vương Miện</strong> hay <strong>Kí tự đặc biệt Vương Miện</strong> một trong những
                        kí tự hot trend hiện nay. Không chỉ giúp bạn tạo những tên game hay cho FF, Liên Quân, PUBG, mà
                        bạn hoàn toàn có thể sử dụng nó gửi cho bạn bè, hoặc tạo tên tài khoản mạng xã hội (Tiktok,
                        Instagram,…).</p>
                    <form action="" class="box">
                        <label for="king" class="label">King (Vua)</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" aria-label="king" value="亗" class="input" id="king">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">Sao
                                    chép
                                </button>
                            </div>
                        </div>
                        <label for="tuong-den" class="label">Tướng đen</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" aria-label="tuong-den" value="♚" class="input" id="tuong-den">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">Sao
                                    chép
                                </button>
                            </div>
                        </div>
                        <label for="hoang-hau-den" class="label">Hoàng Hậu đen</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" aria-label="hoang-hau-den" value="♕" class="input"
                                       id="hoang-hau-den">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">Sao
                                    chép
                                </button>
                            </div>
                        </div>
                        <label for="tuong-trang" class="label">Tướng trắng</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" aria-label="tuong-trang" value="♔" class="input" id="tuong-trang">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">Sao
                                    chép
                                </button>
                            </div>
                        </div>
                        <label for="hoang-hau-trang" class="label">Vương miện Hoàng Hậu trắng</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" aria-label="hoang-hau-trang" value="♛" class="input"
                                       id="hoang-hau-trang">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">Sao
                                    chép
                                </button>
                            </div>
                        </div>
                        <label for="crown" class="label">Emoji (icon) Crown</label>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input type="text" aria-label="crown" value="👑" class="input" id="crown">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="button" onclick="copyToClipboardInputWithLabel(this)">Sao
                                    chép
                                </button>
                            </div>
                        </div>
                    </form>
                    <h2>Tổng hợp tên game kí tự vương miện</h2>
                    <div class="tags">
                        <p>
                            <span class="tag" data-clipboard-text="亗Kɪɴɢ亗">亗Kɪɴɢ亗</span>
                            <span class="tag" data-clipboard-text="×͜×𝙰𝙻𝙾𝙽𝙴 𝙱𝙾𝚈亗">×͜×𝙰𝙻𝙾𝙽𝙴 𝙱𝙾𝚈亗</span>
                            <span class="tag" data-clipboard-text="亗🇲🇷 🇯 🇴 🇰 🇪 🇷亗">亗🇲🇷 🇯 🇴 🇰 🇪 🇷亗</span>
                            <span class="tag" data-clipboard-text="ＬＵＣＩＦＥＲ亗">ＬＵＣＩＦＥＲ亗</span>
                            <span class="tag" data-clipboard-text="_͏ͥ͏_͏ͣ͏_͏ͫ͏ℭɦúɦề亗">_͏ͥ͏_͏ͣ͏_͏ͫ͏ℭɦúɦề亗</span>
                            <span class="tag" data-clipboard-text="KháQuáNhờ亗">KháQuáNhờ亗</span>
                            <span class="tag" data-clipboard-text="ＲＵＯＫ ＦＦ亗">ＲＵＯＫ ＦＦ亗</span>
                            <span class="tag" data-clipboard-text="ＱｕáＮｈi亗">ＱｕáＮｈi亗</span>
                            <span class="tag" data-clipboard-text="亗 Ꮇ Ꭺ Ν Ꮖ 亗">亗 Ꮇ Ꭺ Ν Ꮖ 亗</span>
                        </p>
                        <p>
                            <span class="tag" data-clipboard-text="™Kɪɴɢ♚">™Kɪɴɢ♚</span>
                            <span class="tag" data-clipboard-text="✧͢Ŧﺂℜۼ♚λﾚ؏χᶠᶸᶜᵏ">✧͢Ŧﺂℜۼ♚λﾚ؏χᶠᶸᶜᵏ</span>
                            <span class="tag" data-clipboard-text="Sнαdσω♚">ƬψƬ Sнαdσω♚</span>
                            <span class="tag" data-clipboard-text="⧸⍟❤♚𝓳𝓾𝓵𝓲𝓪♚❤⍟⧹">⧸⍟❤♚𝓳𝓾𝓵𝓲𝓪♚❤⍟⧹</span>
                            <span class="tag" data-clipboard-text="〖TψT〗♚Sιгιus">〖TψT〗♚Sιгιus</span>
                            <span class="tag" data-clipboard-text="♚Ꭺ᭄ᴰᴵᴸ●࿐⁹⁹">♚Ꭺ᭄ᴰᴵᴸ●࿐⁹⁹</span>
                            <span class="tag" data-clipboard-text="❦ᶫʸAyla♚">❦ᶫʸAyla♚</span>
                            <span class="tag" data-clipboard-text="♚ᎷᏒ么BOSS࿐✪">♚ᎷᏒ么BOSS࿐✪</span>
                            <span class="tag" data-clipboard-text="︻┳═一ҜIŁŁ€Ř☠">︻┳═一ҜIŁŁ€Ř☠</span>
                            <span class="tag" data-clipboard-text="ҜIŇG♚">ҜIŇG♚</span>
                            <span class="tag" data-clipboard-text="Ƭ͢Ʀ祝♚">Ƭ͢Ʀ祝♚</span>
                            <span class="tag" data-clipboard-text="Ɗ๏͜͡๏ɱ์㕙۵">Ɗ๏͜͡๏ɱ์㕙۵</span>
                            <span class="tag" data-clipboard-text="♚ᴳᵒᵒᵈ𝓻𝓮𝔂✦">♚ᴳᵒᵒᵈ𝓻𝓮𝔂✦</span>
                            <span class="tag" data-clipboard-text="♚ᴺⁱˡᵘ">♚ᴺⁱˡᵘ</span>
                        </p>
                        <p>
                            <span class="tag" data-clipboard-text="༄ᶦᶰᵈ♔Gᴀᴍᴇʀ࿐♦">༄ᶦᶰᵈ♔Gᴀᴍᴇʀ࿐♦</span>
                            <span class="tag" data-clipboard-text="♔ßống-ßi♔">♔ßống-ßi♔</span>
                            <span class="tag" data-clipboard-text="Ġ♔Drαჟon">Ġ♔Drαჟon</span>
                            <span class="tag" data-clipboard-text="♔PiPéPỏng♔">♔PiPéPỏng♔</span>
                            <span class="tag" data-clipboard-text="♔ℑrộm✯Xinh♔">♔ℑrộm✯Xinh♔</span>
                            <span class="tag" data-clipboard-text="♔Âητỷ">♔Âητỷ</span>
                            <span class="tag" data-clipboard-text="♔Ł€Ꮆ€ŇĐ〙♔">♔Ł€Ꮆ€ŇĐ〙♔</span>
                            <span class="tag" data-clipboard-text="♔Osɪᴛᴏఌ">♔Osɪᴛᴏఌ</span>
                            <span class="tag" data-clipboard-text="♔🆂🅰🅺🆄🆁🅰♔">♔🆂🅰🅺🆄🆁🅰♔</span>
                            <span class="tag" data-clipboard-text="⃝ꜱᴜɴɪʟ♔"> ⃝ꜱᴜɴɪʟ♔</span>
                            <span class="tag" data-clipboard-text="ɴᴏᛒɪᴛᴀ♔">ɴᴏᛒɪᴛᴀ♔</span>
                            <span class="tag" data-clipboard-text="๖ۣۜℜ๏yสl♔">๖ۣۜℜ๏yสl♔</span>
                            <span class="tag" data-clipboard-text="♔𝕽 𝖔 𝖍 𝖎 𝖙♔">♔𝕽 𝖔 𝖍 𝖎 𝖙♔</span>
                            <span class="tag" data-clipboard-text="♔〘சைகோ〙♔">♔〘சைகோ〙♔</span>
                            <span class="tag" data-clipboard-text="♔᠘᠖᠗᠔♔𒀱ꪳ᠔ꪋꪝꪀ">♔᠘᠖᠗᠔♔𒀱ꪳ᠔ꪋꪝꪀ</span>
                            <span class="tag" data-clipboard-text="⚒Ꭰᴋ᭄ ᴮᴼˢƨ⑉♔">⚒Ꭰᴋ᭄ ᴮᴼˢƨ⑉♔</span>
                        </p>
                        <p>
                            <span class="tag" data-clipboard-text="♕Osɪᴛᴀఌ">♕Osɪᴛᴀఌ</span>
                            <span class="tag" data-clipboard-text="°♕ᶫᵒᵛᵉᵧₒᵤ♕°">°♕ᶫᵒᵛᵉᵧₒᵤ♕°</span>
                            <span class="tag" data-clipboard-text="♔Osɪᴛᴏఌ">♔Osɪᴛᴏఌ</span>
                            <span class="tag" data-clipboard-text="༄𝐌ⁱˢˢ𝚀𝚞𝚎𝚎𝚗♕︎">༄𝐌ⁱˢˢ𝚀𝚞𝚎𝚎𝚗♕︎</span>
                            <span class="tag" data-clipboard-text="𝙻𝚒𝚕𝙱𝚛𝚊𝚝♕">𝙻𝚒𝚕𝙱𝚛𝚊𝚝♕</span>
                            <span class="tag" data-clipboard-text="ℙ𝕠𝕝𝕚𝕟𝕒♕︎">ℙ𝕠𝕝𝕚𝕟𝕒♕︎</span>
                            <span class="tag" data-clipboard-text="♕PяιηCєツ西">♕PяιηCєツ西</span>
                            <span class="tag" data-clipboard-text="♕ǤⒽǿⓈ†♕">♕ǤⒽǿⓈ†♕</span>
                            <span class="tag" data-clipboard-text="♕Đéɱǿή♕">♕Đéɱǿή♕</span>
                            <span class="tag" data-clipboard-text="♕Boss♕">♕Boss♕</span>
                        </p>
                        <p>
                            <span class="tag" data-clipboard-text="༺♛i•๖ۣۜƤriͥภcͣeͫssツ">༺♛i•๖ۣۜƤriͥภcͣeͫssツ</span>
                            <span class="tag" data-clipboard-text="♜fιяє♛㉺ℓєgєи∂">♜fιяє♛㉺ℓєgєи∂</span>
                            <span class="tag" data-clipboard-text="♛Phaňţøm♛">♛Phaňţøm♛</span>
                            <span class="tag" data-clipboard-text="♜fιяє♛㉺ℓєgєи∂">♜fιяє♛㉺ℓєgєи∂</span>
                            <span class="tag" data-clipboard-text="❦ᴹⁱˢˢ〲♛ʟɪsᴀ࿐">❦ᴹⁱˢˢ〲♛ʟɪsᴀ࿐</span>
                            <span class="tag" data-clipboard-text="Luͥciͣfͫer♛">Luͥciͣfͫer♛</span>
                            <span class="tag" data-clipboard-text="✦~ᴮ𝖑ᵃᶜᴋ᭄ᶜᵒᵇʳᵃ⌁♛">✦~ᴮ𝖑ᵃᶜᴋ᭄ᶜᵒᵇʳᵃ⌁♛</span>
                            <span class="tag" data-clipboard-text="♛K I N G♛">♛K I N G♛</span>
                        </p>
                    </div>
                    <figure class="has-text-centered">
                        <img width="480" height="270" src="/images/ki-tu-vuong-mien.jpg"
                             th:src="@{/images/ki-tu-vuong-mien.jpg}" alt="Kí tự vương miện" loading="lazy">
                        <figcaption>
                            Kí tự vương miện
                        </figcaption>
                    </figure>
                    <p>Bạn có thể copy kí tự vương miện của mình ở trên, hoặc có thể dùng phím tắt Alt nhé.</p>
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                        <tr>
                            <th scope="col">Ký tự</th>
                            <th scope="col">AltCode</th>
                            <th scope="col">Tên mô tả</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>♔</td>
                            <td>9812</td>
                            <td>Vua trắng</td>
                        </tr>
                        <tr>
                            <td>♕</td>
                            <td>9813</td>
                            <td>Nữ hoàng trắng</td>
                        </tr>
                        <tr>
                            <td>♚</td>
                            <td>9818</td>
                            <td>Vua đen</td>
                        </tr>
                        <tr>
                            <td>♛</td>
                            <td>9819</td>
                            <td>Nữ hoàng đen</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Với việc sử dụng kí tự đặc biệt hình vương miện này bạn có thể tạo cho mình một cái tên ấn tượng
                        và độc, và trông có vẻ rất “quyền lực”. Bạn có thể tạo một tên game kí tự sau đó chèn thêm kí tự
                        vương miện này vào, trông tên game của bạn sẽ rất thú vị hơn bao giờ hết. Không chỉ đặt tên game
                        mà bạn có thể nhắn tin cho bạn bè, tạo logo, tên nhóm, tên tài khoản mạng xã hội Instagram,
                        Tiktok…</p>
                    <h2>Đổi tên game hay sử dụng kí tự vương miện</h2>
                    <p>Bạn chỉ cần thực hiện theo các bước sau:</p>
                    <ul>
                        <li>Bước 1: Bạn hãy vào kí tự đặc biệt và tạo cho mình một cái tên tên ưa thích</li>
                        <li>Bước 2: Chèn kí tự vương miện vào bên trái phải hoặc bất cứ đoạn nào bạn muốn</li>
                        <li>Bước 3: Bạn chỉ cần sao chép và cho tên đã tạo ở trên vào game của mình là xong</li>
                    </ul>
                    <p>Thật đơn giản phải không nào. Các bạn có thể áp dụng cách này cho việc tạo tên bằng kí tự đặc
                        biệt bằng vương miện trong tất cả các thể loại game mobile nhé. Chúc các bạn thành công!</p>
                </div><!-- .entry-content -->
            </article>
            <div th:replace="fragments/layout :: release-posts(page='ki-tu-vuong-mien')"></div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/layout :: footer}"></div>
<div th:replace="~{fragments/components :: modal}"></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>