.hero-light-line {
  bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.hero-light-line-image {
  width: 30px;
}
.hero-light-line::before {
  background-color: #dbdce0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: calc(50% - 30px);
}
.hero-light-line::after {
  background-color: #dbdce0;
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  width: calc(50% - 30px);
}
@media only screen and (min-width: 600px) {
  .hero-light-line {
    bottom: -22px;
    height: 44px;
  }
  .hero-light-line::before {
    width: calc(50% - 44px);
  }
  .hero-light-line::after {
    width: calc(50% - 44px);
  }
  .hero-light-line-image {
    width: 44px;
  }
}
.ck-editor__editable[role="textbox"] {
 /* editing area */
 min-height: 200px;
}
.card-image img {
  object-fit: cover;
}
.title-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden
}