<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head}"></head>
<body>
<div th:replace="~{fragments/layout :: header}"></div>
<!-- /* Handle the flash message */-->
<th:block th:if="${message != null}">
    <!-- /* The message code is returned from the @Controller */ -->
    <div th:replace="~{fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})}">
        &nbsp;
    </div>
</th:block>
<main class="container is-fluid pt-5">
    <section class="hero is-medium mb-6">
        <div class="container has-text-centered">
            <div class="hero-body">
                <h1 class="title">BLOG của Nguyễn Bá Tuấn Anh</h1>
                <p class="subtitle">Đây là nơi mình chia sẻ những tiện ích hay công cụ về Game Mobile chẳng hạn như công
                    cụ tạo tên bên dưới</p>
                <div class="tags is-justify-content-center">
                    <span class="tag is-primary is-light" data-clipboard-text="ᴀɴʜ┋ɴʙᴛ">ᴀɴʜ┋ɴʙᴛ</span>&nbsp;
                    <span class="tag is-warning is-light" data-clipboard-text="ूाीू">ूाीू</span>&nbsp;
                    <span class="tag is-info is-light" data-clipboard-text="━╬٨ـﮩﮩ❤٨ـﮩﮩـ╬━">━╬٨ـﮩﮩ❤٨ـﮩﮩـ╬━</span>&nbsp;
                    <span class="tag is-success is-light" data-clipboard-text="ﮩ٨ـﮩﮩ٨ـ♡ﮩ٨ـﮩﮩ٨">ﮩ٨ـﮩﮩ٨ـ♡ﮩ٨ـﮩﮩ٨</span>&nbsp;
                    <span class="tag is-danger is-light" data-clipboard-text="꧁°Łøvε꧂">꧁°Łøvε꧂</span>&nbsp;
                </div>
            </div>
            <div class="hero-light-line">
                <img src="/images/brand-anhnbt.png" th:src="@{/images/brand-anhnbt.png}" alt="AnhNBT logo" width="30"
                     height="30" class="hero-light-line-image">
            </div>
        </div>
    </section>
    <div class="container is-fluid">
        <div class="columns is-desktop">
            <aside class="column is-3">
                <div class="card">
                    <div class="card-content">
                        <figure class="image is-128x128 mx-auto">
                            <img class="is-rounded" src="./images/anhnbt.jpg" alt="Nguyễn Bá Tuấn Anh">
                        </figure>
                        <h4 class="is-size-4 has-text-centered">Nguyễn Bá Tuấn Anh</h4>
                        <p class="has-text-centered">I'm a Web Developer</p>
                        <ul>
                            <li class="" itemprop="homeLocation"
                                aria-label="Home location: Hà Nội, Việt Nam">
                                <svg class=" -location" viewBox="0 0 16 16" version="1.1" width="16"
                                     height="16" aria-hidden="true">
                                    <path d="m12.596 11.596-3.535 3.536a1.5 1.5 0 0 1-2.122 0l-3.535-3.536a6.5 6.5 0 1 1 9.192-9.193 6.5 6.5 0 0 1 0 9.193Zm-1.06-8.132v-.001a5 5 0 1 0-7.072 7.072L8 14.07l3.536-3.534a5 5 0 0 0 0-7.072ZM8 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 9Z"></path>
                                </svg>
                                <span class="p-label">Hà Nội, Việt Nam</span>
                            </li>
                            <li itemprop="email" aria-label="Email: anhnbt.com@gmail.com" class="">
                                <svg class="" viewBox="0 0 16 16" version="1.1" width="16"
                                     height="16" aria-hidden="true">
                                    <path d="M1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5C0 2.784.784 2 1.75 2ZM1.5 12.251c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V5.809L8.38 9.397a.75.75 0 0 1-.76 0L1.5 5.809v6.442Zm13-8.181v-.32a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25v.32L8 7.88Z"></path>
                                </svg>
                                <a class="" href="mailto:anhnbt.com@gmail.com">anhnbt.com@gmail.com</a>
                            </li>
                            <li itemprop="social" class="">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.3 15.4" role="img"
                                     aria-labelledby="a8lz7iwdm6ikuv52hatef37tc0symvyh" class="" width="16"
                                     height="16"><title id="a8lz7iwdm6ikuv52hatef37tc0symvyh">Facebook</title>
                                    <path d="M14.5 0H.8a.88.88 0 0 0-.8.9v13.6a.88.88 0 0 0 .8.9h7.3v-6h-2V7.1h2V5.4a2.87 2.87 0 0 1 2.5-3.1h.5a10.87 10.87 0 0 1 1.8.1v2.1h-1.3c-1 0-1.1.5-1.1 1.1v1.5h2.3l-.3 2.3h-2v5.9h3.9a.88.88 0 0 0 .9-.8V.8a.86.86 0 0 0-.8-.8z"
                                          fill="currentColor"></path>
                                </svg>

                                <a rel="nofollow me" class="" href="https://www.facebook.com/anhnbtdotcom">anhnbtdotcom</a>
                            </li>
                            <li itemprop="social" class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                     fill="none" role="img" aria-labelledby="a28so3gp6r2a397vu3krepfwlpzmze81"
                                     class=""><title id="a28so3gp6r2a397vu3krepfwlpzmze81">LinkedIn</title>
                                    <g clip-path="url(#clip0_202_91845)">
                                        <path d="M14.5455 0H1.45455C0.650909 0 0 0.650909 0 1.45455V14.5455C0 15.3491 0.650909 16 1.45455 16H14.5455C15.3491 16 16 15.3491 16 14.5455V1.45455C16 0.650909 15.3491 0 14.5455 0ZM5.05746 13.0909H2.912V6.18764H5.05746V13.0909ZM3.96291 5.20073C3.27127 5.20073 2.712 4.64 2.712 3.94982C2.712 3.25964 3.272 2.69964 3.96291 2.69964C4.65236 2.69964 5.21309 3.26036 5.21309 3.94982C5.21309 4.64 4.65236 5.20073 3.96291 5.20073ZM13.0938 13.0909H10.9498V9.73382C10.9498 8.93309 10.9353 7.90327 9.83491 7.90327C8.71855 7.90327 8.54691 8.77527 8.54691 9.67564V13.0909H6.40291V6.18764H8.46109V7.13091H8.49018C8.77673 6.58836 9.47636 6.016 10.52 6.016C12.6924 6.016 13.0938 7.44582 13.0938 9.30473V13.0909V13.0909Z"
                                              fill="currentColor"></path>
                                    </g>
                                </svg>

                                <a rel="nofollow me" class="" href="https://www.linkedin.com/in/anhnbt/">in/anhnbt</a>
                            </li>
                            <li itemprop="social" class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                     fill="none" role="img" aria-labelledby="apiwuljf611tya79nqku37ga696u1git"
                                     class=""><title id="apiwuljf611tya79nqku37ga696u1git">YouTube</title>
                                    <path d="M15.6656 3.7488C15.4816 3.0608 14.9392 2.5184 14.2512 2.3344C13.0032 2 8 2 8 2C8 2 2.9968 2 1.7488 2.3344C1.0608 2.5184 0.5184 3.0608 0.3344 3.7488C-2.38419e-08 4.9968 0 8.4 0 8.4C0 8.4 -2.38419e-08 11.8032 0.3344 13.0512C0.5184 13.7392 1.0608 14.2816 1.7488 14.4656C2.9968 14.8 8 14.8 8 14.8C8 14.8 13.0032 14.8 14.2512 14.4656C14.94 14.2816 15.4816 13.7392 15.6656 13.0512C16 11.8032 16 8.4 16 8.4C16 8.4 16 4.9968 15.6656 3.7488ZM6.4 10.4784V6.3216C6.4 6.0136 6.7336 5.8216 7 5.9752L10.6 8.0536C10.8664 8.2072 10.8664 8.5928 10.6 8.7464L7 10.8248C6.7336 10.9792 6.4 10.7864 6.4 10.4784Z"
                                          fill="currentColor"></path>
                                </svg>

                                <a rel="nofollow me" class="" href="https://www.youtube.com/@anhnbt">@anhnbt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ky-tu-dac-biet" th:href="@{/ky-tu-dac-biet}">
                                    <figure class="image is-5by3">
                                        <img src="/images/ki-tu-dac-biet-anhnbt.jpg"
                                             th:src="@{/images/ki-tu-dac-biet-anhnbt.jpg}"
                                             alt="Kí tự đặc biệt">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ky-tu-dac-biet" th:href="@{/ky-tu-dac-biet}">Kí tự đặc
                                    biệt</a></h5>
                                <p class="content title-ellipsis">Hơn 1001 kí tự đặc biệt đẹp nhất cho ✅Liên Quân như
                                    trái tim ❤...</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ten-game-hay">
                                    <figure class="image is-5by3">
                                        <img src="/images/ten-lien-quan-hay.jpg"
                                             alt="Tên game hay nhất 2024">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ten-game-hay">Tên game
                                    hay</a></h5>
                                <p class="content title-ellipsis">TOP hàng nghìn tên game hay nhất cho game thủ Việt
                                    Nam...</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ki-tu-trai-tim">
                                    <figure class="image is-5by3">
                                        <img src="/images/ki-tu-trai-tim.jpg"
                                             alt="Kí tự trái tim">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ki-tu-trai-tim">Kí tự trái tim</a></h5>
                                <p class="content title-ellipsis">Kí tự trái tim không còn là biểu tượng xa lạ đối với những “con game”</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ki-tu-qua-tao">
                                    <figure class="image is-5by3">
                                        <img src="/images/ki-tu-qua-tao.jpg"
                                             alt="Kí tự quả táo">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ki-tu-qua-tao">Kí tự quả
                                    táo</a></h5>
                                <p class="content title-ellipsis">Trái táo cắn dở trong bảng mã Unicode và emoji như táo
                                    đỏ 🍎...</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.columns -->
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ki-tu-vuong-mien">
                                    <figure class="image is-5by3">
                                        <img src="/images/ki-tu-vuong-mien.jpg"
                                             alt="Kí tự Vương Miện 亗">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ki-tu-vuong-mien">Kí tự
                                    Vương Miện 亗</a></h5>
                                <p class="content title-ellipsis">Hình Vương miện Vua trắng ♔ trông có vẻ rất “quyền
                                    lực”...</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ki-tu-tang-hinh">
                                    <figure class="image is-5by3">
                                        <img src="/images/ki-tu-tang-hinh.jpg"
                                             alt="Dấu cách đặc biệt AnhNBT">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ki-tu-tang-hinh">Kí tự tàng
                                    hình</a></h5>
                                <p class="content title-ellipsis">Bảng tên trắng giống tàng hình chỉ có trên điện thoại
                                    Android...</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <a href="/ki-tu-khoang-trong-ff">
                                    <figure class="image is-5by3">
                                        <img src="/images/ki-tu-khoang-trong-ff.jpg"
                                             alt="Dấu cách đặc biệt AnhNBT">
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="/ki-tu-khoang-trong-ff">Kí tự
                                    khoảng trống FF</a></h5>
                                <p class="content title-ellipsis">Tên game hot có dấu cách ở giữa hỗ trợ FreeFire và
                                    LQM...</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.columns -->
                <h2 class="is-size-2">Bài viết mới nhất trên AnhNBT</h2>
                <div class="columns" th:unless="${#lists.isEmpty(posts)}">
                    <div class="column" th:each="post : ${posts}">
                        <div class="card">
                            <div class="card-image">
                                <a href="#" th:href="@{/p/{url}.html(url=${post.postName})}">
                                    <figure class="image is-5by3">
                                        <th:block th:if="${post.postThumb != null}">
                                            <img width="300" height="157" src="#"
                                                 th:src="@{/uploads/images/{thumb}(thumb=${post.postThumb})}"
                                                 th:alt="${post.postTitle}">
                                        </th:block>
                                        <th:block th:if="${post.postThumb == null}">
                                            <img width="300" height="157" src="/images/no-images.png"
                                                 th:src="@{/images/no-images.png}" th:alt="${post.postTitle}">
                                        </th:block>
                                    </figure>
                                </a>
                            </div>
                            <div class="card-content">
                                <h5 class="title is-5"><a href="#" th:href="@{/p/{url}.html(url=${post.postName})}"
                                                          rel="bookmark"
                                                          th:text="${post.postTitle}">&nbsp;</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.column -->
        </div><!-- /.columns -->
    </div><!-- /.container -->
</main><!-- .site-main -->
<div th:replace="~{fragments/layout :: footer}"></div>
<div th:replace="~{fragments/components :: modal}"></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body>
</html>