<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
<div th:replace="fragments/layout :: header"></div>
<main class="container is-fluid pt-5">
    <div class="container is-fluid">
        <div class="columns is-desktop">
            <div class="column">
                <div class="box">
                    <div class="notification is-danger" th:if="${param.error}">
                        Sai tài khoản hoặc mật khẩu.
                    </div>
                    <div class="notification is-success" th:if="${param.logout}">
                        You have been logged out.
                    </div>
                    <p th:if="${MSG_SUCCESS}" th:text="${MSG_SUCCESS}" class="notification is-success"></p>
                    <p th:if="${MSG_INFO}" th:text="${MSG_INFO}" class="notification is-info"></p>
                    <p th:if="${MSG_ERROR}" th:text="${MSG_ERROR}" class="notification is-danger"></p>
                    <form th:action="@{/login}" method="post" class="block">
                        <div class="field">
                            <label for="username" class="label">Tài khoản</label>
                            <div class="control">
                                <input class="input" type="text" name="username" id="username" placeholder="Username"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="password" class="label">Mật khẩu</label>
                            <div class="control">
                                <input class="input" type="password" name="password" id="password"
                                       placeholder="Password"/>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <input type="submit" value="Đăng nhập" class="button is-link"/>
                        </div>
                    </form>
                    <div class="block">
                        Nếu chưa có tài khoản vui lòng <a th:href="@{/signup}">Đăng ký</a>
                    </div>
                </div><!-- /.box -->
            </div><!-- /. column -->
        </div><!-- /.columns -->
    </div><!-- /.container -->
</main><!-- .site-main -->
<div th:replace="fragments/layout :: footer"></div>
<div th:replace="fragments/components :: modal"></div>
<th:block th:replace="fragments/layout :: scripts"></th:block>
</body>
</html>