<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<body>
<div th:replace="fragments/layout :: header"></div>
<main class="container is-fluid pt-5">
    <div class="columns">
        <div class="column">
            <div th:replace="fragments/components :: back"></div>
            <article class="content">
                <header>
                    <h1 class="title" th:text="${post.postTitle}">&nbsp;</h1>
                    <p class="is-italic has-text-grey">
                        <time th:datetime="${#dates.format(post.postModified, 'dd-MM-yyyy')}" th:text="${#dates.format(post.postModified, 'dd-MM-yyyy')}">23/02/2022</time>
                        · <span th:text="${#numbers.formatInteger(post.postViewCount,3,'POINT')}"></span> lượt xem
                    </p>
                </header>
                <div class="entry-content" th:utext="${post.contentEscape}"></div><!-- .entry-content -->
            </article>
        </div>
    </div>
</main>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>